<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CSI Awards - celebrating brilliance!</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <!--  Kits -->
        <script src="https://kit.fontawesome.com/33075be1b7.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Font Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- body %>
    </body>
</html>

<script>
    $(document).ready(function(){
    $("#hh-hide").click(function(){
        $(".hh-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#mmd-hide").click(function(){
        $(".mmd-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#rm-hide").click(function(){
        $(".rm-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#aaa-hide").click(function(){
        $(".aaa-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#go-hide").click(function(){
        $(".go-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#dt-hide").click(function(){
        $(".dt-card").toggle();
    });
    });

    $(document).ready(function(){
    $("#ch-hide").click(function(){
        $(".ch-card").toggle();
    });
    });

    
</script>