<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark gradient-bar">
    <div class="container px-5">
        <a class="navbar-brand" href="#!"><img class="logo-brand" src="/assets/icons/csiawards.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="categories">Categories</a></li>
        </ul>
    </div>
</nav>

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5" id="wide-column">
        <div class="col-lg-7">
            
            <video width="700" height="395" controls>
                <source src="/assets/CSI Awards.mp4" type="video/mp4">
                <track src="/assets/my_captions.vtt" label="English" kind="captions" srclang="en-uk">
            </video>
        
        </div>
        <div class="col-lg-5">
                    <h1 class="font-weight-light csi-title"><i class="fa-solid fa-award"></i> CSI Awards</h1>
            <p class="csi-txt">These new fun and informal CSI Awards have been created as a way of recognising and rewarding colleagues within the Continual Service Improvement team, and hopefully helping to bring some of our diverse work areas a little closer together, creating wider engagement and connection opportunities.  

                <br><br>We have created them in such a way that hopefully everyone will have the opportunity to be involved, nominate colleagues and vote on the amazing shortlisted candidates.  They’ll be some fun prizes for winners and of course a wall of fame to recognise their valuable contributions and colleague appreciation.  I do hope that you’ll all take the time to join in, as I can’t wait to read all the nominations and have the opportunity to learn more about everyone.
                <br><br><strong>Kay Deacey-Coulton</strong>
                <br><strong>Head of CSI</strong>
                </p>
            
        </div>
    </div>
    <!-- Call to Action-->
    
    <!-- Content Row-->
    <h2 class="font-weight-light csi-title">Helping Hands</h2>
    <button class="btn btn-primary btn-sm sh-button" id="hh-hide" href="#!">Hide/show nominees</button>

    <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
        <div class="col-md-4 mb-5">
            <div id="hh-card1" class="card h-100 csi-full-card hh-card">
                <div class="card-body csi-card">
                    <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Helpinghands.png"></div>
                    <h2 class="card-title">Lynne Billington</h2>
                    <h3 class="job-title">Senior Customer Service Advisor</h3>
                    <p class="card-text">Lynne is always willing to help and support anyone in the team, recently she has delivered registrars training and worked side by side with registrars to review the script and make positive changes to the way we do things to limit the calls going to Registrars, which is proving to be a success! Lynne also led the move from Lagan to Requestry providing essential information to colleagues in IT for the build, delivering training to all Advisors, supporting implementation, supporting training and development producing training videos and showing patience and calmness when asked questions about the system. Lynne as also supported several kickstart employees providing coaching plans, training opportunities and with real time feedback.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary csi-btn vote_btn vote-btn" href="#!">Vote</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div id="hh-card2" class="card h-100 csi-full-card hh-card">
                <div class="card-body csi-card">
                    <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Helpinghands.png"></div>
                    <h2 class="card-title">Jo Coles</h2>
                    <h3 class="job-title">Senior Customer Service Advisor</h3>
                    <p class="card-text">Jo has received 2 nominations:<br><br> Jo effortlessly supports the team in her role as Senior Advisor; she will offer her support in handling escalated customer enquiries, training people on Berneslai Home enquiries, call coaching others and role-playing certain situations to provide practice within a safe space. Jo is really approachable and will adapt training and support to suit the needs of the Advisor asking what they need and what works for them, she is kind, compassionate and patient particularly in her work with the Kick-starters which has been a huge success.<br><br>For Jo no task is too small, even if she doesn't know the answer, she will always go the extra mile to find out and ensure this is provided to all staff and goes above and beyond. Jo has supported and trained many new colleagues in the Contact Centre which at times was difficult due to Covid. While we were all busy home working, Jo was in the office training, trying to maintain social distancing and re-assure our new staff that we can train through these challenging times. This was no easy task when lots of the training is on the job listening into calls, we relied heavily on Jo’s enthusiasm to make this happen. Jo will always be the one I can rely on and offers to assist Managers and colleagues of our out of hours team, so they never feel alone when working outside of core hours. Jo has also been a credit supporting our new kickstart employees who for many this was a first step into employment. I really think she deserves this award for the constant help Jo provides to each one of us.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div id="hh-card3" class="card h-100 csi-full-card hh-card">
                <div class="card-body csi-card">
                    <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Helpinghands.png"></div>
                    <h2 class="card-title">Heather Crossland</h2>
                    <h3 class="job-title">Project Manager</h3>
                    <p class="card-text">Heather has been phenomenal in her role as Project Manager, since she started. Project managing the Contact Centre Improvement Plan to deliver disaster recovery processors, contingency planning, training, SLA reporting, functional requirements for Blue Badge new system and much more! In addition to this, Heather takes it upon herself to provide key stakeholders with information on what is coming up, when deadlines are approaching and steers people in the right direction to remain on track; whilst always escalating things in the right way to the right people. Heather is supportive and will offer her assistance on things where although she as limited knowledge she is prepared to find out and offer the support. She's a great member of the team</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
            </div>
        </div>
    </div>

        <h2 class="font-weight-light csi-title">Makes My Day</h2>
        <button class="btn btn-primary btn-sm sh-button" id="mmd-hide" href="#!">Hide/show nominees</button>

        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card mmd-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/mademyday.png"></div>
                        <h2 class="card-title">Damian Hull</h2>
                        <h3 class="job-title">Customer Service Advisor</h3>
                        <p class="card-text">Damian is always a smiling face in the office, whatever the time of day. He always makes a special effort to speak to everyone and makes new additions to the team feel very welcome too. It is a pleasure to work alongside him!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card mmd-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/mademyday.png"></div>
                        <h2 class="card-title">Emma O'grady</h2>
                        <h3 class="job-title">Digital Manager</h3>
                        <p class="card-text">Emma as such a willingness to support everyone to be the best that they can be and makes a real difference. She regularly takes time out to ensure that people are OK, cares about people as individual's, shows an interest in others, shows compassion and empathy when things are not great for others, puts in place plans to grow team members and tries to find the positive in everything! As a smile that can light up the room...</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card mmd-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/mademyday.png"></div>
                        <h2 class="card-title">Emma Lowe</h2>
                        <h3 class="job-title">Digital Officer</h3>
                        <p class="card-text">Emma is the personification of the Makes My Day Award! She's always full of smiles, kindness and positivity (even in the face of adversity!), will do anything she can to help, is a true team-player and a pleasure to work with. She's reliable, does a great job and her calmness and outlook is a tonic for the whole team :-)</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
        </div>

        <h2 class="font-weight-light csi-title">Role Model</h2>
        <button class="btn btn-primary btn-sm sh-button" id="rm-hide" href="#!">Hide/show nominees</button>

            <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
                <div class="col-md-4 mb-5">
                    <div class="card h-100 csi-full-card rm-card">
                        <div class="card-body csi-card">
                            <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Rolemodel.png"></div>
                            <h2 class="card-title">Nicky holling</h2>
                            <h3 class="job-title">Customer Service Advisor</h3>
                            <p class="card-text">When Nicky enters the room there is an air of positivity and her "can do" attitude is infectious. She handles customer calls brilliantly taking calls from those who are less familiar with certain call types to prevent an escalation, offers to mentor new starts and as shown real determination to train across all service lines in the Centre, indeed Nicky now handles 3 out of the 5 priority lines and a raft of other non-priority lines. Nicky is keen that we achieve the best for our customers which is demonstrated by her checking how performance is looking and voluntarily going back on the phone in periods where we may be struggling.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 csi-full-card rm-card">
                        <div class="card-body csi-card">
                            <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Rolemodel.png"></div>
                            <h2 class="card-title">Rebekah Roberts</h2>
                            <h3 class="job-title">Customer Service Advisor</h3>
                            <p class="card-text">Rebekah is a phenomenal member of the team, she is willing to try new things and move out of her comfort zone e.g. taking repairs calls in addition to 2 other priority lines and all other council lines with the exception of Adults. She spends time providing re-assurance to others when in the office and will always show others how it is done so it helps other people's learning. Rebekah always asks how others are and takes a real interest in others, she will happily take calls from other people if it helps and was one of the first to adopt hybrid working.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 csi-full-card rm-card">
                        <div class="card-body csi-card">
                            <div class="icon-box"><img class="icon-box-img" src="/assets/icons/Rolemodel.png"></div>
                            <h2 class="card-title">Danny Dvelys</h2>
                            <h3 class="job-title"></h3>
                            <p class="card-text">Danny is the epitome of positivity! He delivers digital events with passion and enthusiasm which encourages our residents to learn more and ultimately do more for themselves. Danny is a great support for the Contact Centre and as spent numerous hours with members of the Contact Centre assisting with setting up screens, office 365 and creating necessary links, nothing is too much bother. Danny also regularly provides invaluable support to our members and wider colleagues on all things digital an regularly received praise about Danny's positivity, enthusiasm and passion is often received! Recently, Danny as taken on a Lead Digital role, he has shown commitment and dedication to learn new skills, tried new things with little support and has been a real advocate to coming into the office to aid development and collaboration.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                    </div>
                </div>
            </div>

        <h2 class="font-weight-light csi-title">Amazing New Addition</h2>
        <button class="btn btn-primary btn-sm sh-button" id="aaa-hide" href="#!">Hide/show nominees</button>

        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card aaa-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/newaddition.png"></div>
                        <h2 class="card-title">Julie Garner</h2>
                        <h3 class="job-title">PMO Administrator</h3>
                        <p class="card-text">Julie received 2 nominations:<br><br>Julie is a fabulous addition to our team. She has jumped in with both feet, fitted straight in with us all and has already got a PMO certificate!<br><br>Julie joined the team only recently and was thrown in at the deep end immediately. She's joined a new post not only for her but for the council too and with only the simplest of outline briefs, she's taken to figuring out what's needed and is quickly finding her feet and shaping the role. Not only that but within the first few weeks we asked her to support one of our projects with a slippage mitigation and she jumped straight in and helped save the day. I couldn't ask for more! She's also gelled with the team as though she's been part of it forever having met with everyone individually in the first few days. Couldn't ask for more!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card aaa-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/newaddition.png"></div>
                        <h2 class="card-title">Chloe Ward</h2>
                        <h3 class="job-title">Operations Manager</h3>
                        <p class="card-text">Wow where do I start with Chloe.  Chloe has shown commitment and dedication to learn to learn more about the services we support in the Contact Centre, leads by example, demonstrates positivity and flexibility, willingness to support the team, drive and passion to move things forward and has already delivered key process changes on call coaching and floor walking.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card aaa-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/newaddition.png"></div>
                        <h2 class="card-title">Liam White</h2>
                        <h3 class="job-title">Customer Service Advisor</h3>
                        <p class="card-text">Liam received 2 nominations:<br><br>Liam is a great addition to the team, he is enthusiastic, willing to learn, embrace new things, seek new learning opportunities and ask for feedback. Liam as received a raft of praise from his mentor and those with skills on the Adults line have all commented on how quickly Liam as learnt Adults and Adults post! Liam remains positive constantly and is a real advocate for team work and the Contact Centre and will openly share with other how he is enjoying the challenge and the change!<br><br>Liam has recently joined the contact centre and has fitted into the team and shown all of his amazing qualities since he started. He has taken all of the training onboard and has shown an eagerness to continue his learning and development. Liam is currently on the Adults line and has picked this up really well and at a fast pace. He deals with customers with compassion and understanding and follows all of the processes to ensure a positive outcome for the customer. Liam is passionate about the job and is keen to progress within the role and continue supporting our customers in Barnsley.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
        </div>

        <h2 class="font-weight-light csi-title">Google</h2>
        <button class="btn btn-primary btn-sm sh-button" id="go-hide" href="#!">Hide/show nominees</button>

        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card go-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/google.png"></div>
                        <h2 class="card-title">Nick Kent</h2>
                        <h3 class="job-title">Digital Officer</h3>
                        <p class="card-text">Nick makes such a difference to everyone's day with his positivity and his can do attitude! Nothing is too much bother and if he does not know the answer he will find it out. He is a team player, calm, professional and is so keen to try new things; the work Nick has delivered on the CSI Awards is testament to this.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
        </div>

        <h2 class="font-weight-light csi-title">Duct Tape</h2>
        <button class="btn btn-primary btn-sm sh-button" id="dt-hide" href="#!">Hide/show nominees</button>

        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card dt-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/ductape.png"></div>
                        <h2 class="card-title">Chris Roddison</h2>
                        <h3 class="job-title">Digital Development Lead</h3>
                        <p class="card-text">Chris is the king for developing things & fixing things on the website and building forms on Requestry! Ofsted were due to complete school inspections last month and changes to the website were needed quickly which Chris completed within an hour of the ask - wow! Chris regularly reviews the CC/digital team chat and fixes anything that is identified quickly, either through linking in with colleagues in Innovation or through investigating the issue himself. Through his dedication and drive issues things are never not right for long. Chris has worked incredibly hard on delivering the Adult Service website, with lots of ongoing conversations about look and feel and the balance between what a customer will look for and what we need to say in terms of legislation... the end result is a site everyone is incredibly proud of!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card dt-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/ductape.png"></div>
                        <h2 class="card-title">Emma Thompson and Gail Hill</h2>
                        <h3 class="job-title">Customer Service Advisor</h3>
                        <p class="card-text">I really think Emma and Gail deserves this award. I call them the sticking plaster for the Out of Hours team. Our service operates 24/7 365 days a year and they will always jump to the rescue if we have difficulties covering shifts. Emma and Gail work split shifts throughout a 24hr period so we don’t have a break in service to our Customers. This is often lone working and during night shifts. They will always find a solution and swop shifts between them to ensure we always have someone on hand to speak to our customers. During inclement weather they have jumped on the phones to our rescue, to assist taking emergency calls from our Customers even when they are not rota'd on call. This really does show they are the duct tape to the Out of Hours service we provide to our Customers.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card dt-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/ductape.png"></div>
                        <h2 class="card-title">Kyle Tindle</h2>
                        <h3 class="job-title">Applications & Development Officer</h3>
                        <p class="card-text">The mechanic of the team. It doesn't matter the issue, if Kyle can't fix it, no one can. Whether it's a coding problem, an infrastructure issue, a combination of both or anything in between, he can turn his mind to any problem and for so many things he is the go-to guy. To the point. Reliable. Trustworthy. Every team needs a Kyle!</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
        </div>

        <h2 class="font-weight-light csi-title">Customer Hero</h2>
        <button class="btn btn-primary btn-sm sh-button" id="ch-hide" href="#!">Hide/show nominees</button>
    
        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card ch-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/hero.png"></div>
                        <h2 class="card-title">Sandra Cawkwell</h2>
                        <h3 class="job-title">Customer Service Advisor</h3>
                        <p class="card-text">4 customers sent in compliments for Sandra:<br><br>'I have just reported a repair on your helpline and what a lovely lady I have dear with. Her name was Sandra and as well as dealing with my query swiftly, she chatted to me throughout and made the call a very pleasant experience.<br><br>Tenant wants to thank the whole team from Sandra (contact centre phone operative) to the repair engineers as she appreciates everything from start to finish. She says that everyone does a fine job and always so helpful and cheerful while doing it face to face and on the phone. So, a big thank you to everyone on a great fast and efficient service.<br><br>Compliment on how well Sandra handled the reporting of a repair<br><br>Wanting to pass on compliments to say thank you for the service received from Sandra when reporting a window repair.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card ch-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/hero.png"></div>
                        <h2 class="card-title">Matt Green</h2>
                        <h3 class="job-title">Digital Project Manager</h3>
                        <p class="card-text">Matt has been supporting with the new build of the Family Service Directory (FSD) . The FIS team want to thank Matt for the above and beyond support he has given us. At times when we have felt under pressure Matt has remained calm, listened to us, talked us through our concerns and calmed our nerves. He has shared his knowledge and top tips with us that will help with our efficiencies moving forward and allow us to work through pieces of work quickly. He quickly recognised that we are a small service with a big remit and has helped us with setting up the site and developing guides to help when we need a knowledge refresh or new staff are recruited.  When capacity has been a challenge, he has remained patience and 'rolled his sleeves up and got stuck in' with what needed to happen. His commitment to the project and his planning has been empowering. At the beginning of the journey, I underestimated the amount of work and time needed in moving website providers and building a new site but quickly realised that Matt’s drive and commitment has been the key to keeping on track and delivering a go live date ahead of schedule and a product that we as a service are proud off and receiving positive feedback from service users.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100 csi-full-card ch-card">
                    <div class="card-body csi-card">
                        <div class="icon-box"><img class="icon-box-img" src="/assets/icons/hero.png"></div>
                        <h2 class="card-title">Kerrie Zaszlos</h2>
                        <h3 class="job-title">Customer Service Advisor</h3>
                        <p class="card-text">3 customers sent in compliments for Sandra:<br><br>Would like to say how pleased I am with the service and say thank you for being so lovely, polite and responsive.<br><br>I would like to convey my sincere thanks for the customer service I received today from a lady called Kerrie during a phone call regarding a repair to my home. She is very articulate and helpful, and it is very much appreciated. Please pass on our sincere thanks and kind regards to the lady concerned.<br><br>I couldn’t help but think to myself what a lovely friendly, polite, pleasant member of staff she is. She gave me the details then handed the call over to me which wasn’t straight forward as it was an enquiry from an owner occupier. As I ended the call with the customer she thanked me for my help and also mentioned that the lady she had spoken to in the contact centre, was really nice and that she was very grateful for her help too.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm csi-btn vote-btn" href="#!">Vote</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- voting panel -->

<div id="voting-panel" class= <%- voting_panel %>>
    
    <div class="voting-panel-container">
        
        
        <div class="voting-panel-banner">
            <div id="voting-panel-img"></div>
            <p style="font-weight: 700;" id="voting-panel-heading"></p>
            <button id="voting-panel-close-btn"></button>
        </div>
        <p style="margin-top: 30px;"><%- message %></p>
        <form method="post" action="/vote" name="voting_form">

            <input type="text" id="nominee_name_form" value="<%- nominee_name_form %>" name="nominee_name_form">

            <input type="text" id="votee_category" name="votee_category" hidden value="<%- votee_category %>">

            <label for="voter_name">Please Enter Your Name:</label>
            <input type="text" id="voter_name" name="voter_name">

            <label for="voter_email">Please Enter Your Email Address:</label>
            <input type="text" id="voter_email" name="voter_email">

            <input type="submit" name="submit_button" id="submit_button">
            

        </form>
        
    </div>
    
</div>


<!-- Footer-->
<footer class="py-3 bg-dark">
    <div class="container px-4 px-lg-5 footer-csi"><p class="m-0 text-center text-white">Copyright &copy; Barnsley Council 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>