<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark gradient-bar">
    <div class="container px-5">
        <a class="navbar-brand" href="#!"><img class="logo-brand" src="/assets/icons/csiawards.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="categories">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="nominees">All nominees</a></li>
        </ul>
    </div>
</nav>

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5" id="wide-column">
        <div class="col-lg-7">
            
            <video width="700" height="395" controls>
                <source src="/assets/CSI Awards.mp4" type="video/mp4">
            </video>
        
        </div>
        <div class="col-lg-5">
                    <h1 class="font-weight-light csi-title"><i class="fa-solid fa-award"></i> CSI Awards</h1>
            <p class="csi-txt">The CSI Awards have now finished. We would like to thank everyone who has nominated and voted for hardworking individuals within our team and hope that we can all continue to be proud of the work that we deliver to the community.<br><br>If you would like to see the winners, please watch the video or click the dropdown below. If you would like to see all our nominations, please navigate to the nominees page at the top of the page.

                <!-- <br><br>We have created them in such a way that hopefully everyone will have the opportunity to be involved, nominate colleagues and vote on the amazing shortlisted candidates.  They’ll be some fun prizes for winners and of course a wall of fame to recognise their valuable contributions and colleague appreciation.  I do hope that you’ll all take the time to join in, as I can’t wait to read all the nominations and have the opportunity to learn more about everyone. -->
                <!-- <br><br><strong>Kay Deacey-Coulton</strong> -->
                <!-- <br><strong>Head of CSI</strong> -->
                </p>
            
        </div>
    </div>
    <!-- Call to Action-->
    <div class="accordion csi-accordion" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed csi-h-accordion" id="accordian-button-71" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="fa-solid fa-trophy accordion-icon"></i>Click to view our winners!
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Thank you for your nominations, below you will find the winners of the CSI awards.
                <hr>
                <img title="Helping Hands Award" class="accordion-box-img" src="/assets/icons/Helpinghands.png"> <strong>Lynne Billington</strong> has won this award because of her willingness to support everyone in the team and making positive changes to the council's digital structure.
                <hr>
                <img class="accordion-box-img" src="/assets/icons/mademyday.png"> <strong>Emma O'Grady</strong> has won this award because of her care and compassion for all individuals. She excels in promoting growth in team members to allow them to achieve their highest potential
                <hr>
                <img class="accordion-box-img" src="/assets/icons/Rolemodel.png"> <strong>Danny Dvelys</strong> has won this award because of his commitment and dedication towards both roles as a Digital Champion and as a Digital Development Lead.
                <hr>
                <img class="accordion-box-img" src="/assets/icons/newaddition.png"> <strong>Chloe Ward</strong> has won this award because of her positivity and motivation within the Contact Centre, she is always positive and is a vital part of the team.
                <hr>
                <img class="accordion-box-img" src="/assets/icons/google.png"> <strong>Nick Kent</strong> has won this award because of his curiosity and can-do attitude. He is professional and always wants to innovate new processes within the council.
                <hr>
                <img class="accordion-box-img" src="/assets/icons/ductape.png"> <strong>Chris Roddison</strong> has won this award because of his keen attention to detail and his amazing work ethic. He has an extensive knowledge base of the council's processes and legislation relating to it. He is a crucial asset within the team.
                <hr>
                <img class="accordion-box-img" src="/assets/icons/hero.png"> <strong>Matt Green</strong> has won this award because of his hard work and commitment to his role. He has worked towards making digital processes more efficient and has made positive change to Barnsley Council.</div>
          </div>
        </div>
    </div>
    <!-- Content Row-->
    

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<script>
    document.getElementById("accordian-button-71").addEventListener("click", () => {
        document.getElementById("flush-collapseOne").classList.toggle("collapse")
    })
</script>
