<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark gradient-bar">
    <div class="container px-5">
        <a class="navbar-brand" href="#!"><img class="logo-brand" src="/assets/icons/csiawards.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="categories">Categories</a></li>
        </ul>
    </div>
</nav>

<section id="thank-you-section">
    <h1>Thank you for voting!</h1>
    <p>The voting will close on 8 July 2022 and the winners will be announced on 13 June 2022. Stay tuned!</p>
    <a href="/" id="thank-you-go-home">Vote for another award</a>
</section>

